.mensaje{
    height:300px;
		background-color:#83d5ee;
		margin-bottom:4%;
		overflow:auto;
		padding:15px;
}

.mensaje-style{
    
    background-color: #5ac0de;
		color: white;
		border-radius: 5px;
		padding: 5px;
		margin-bottom: 3%;
        word-wrap: break-word;
        
}

.mensaje-style h4{

	display:inline-block;

}

